* {
  line-height: calc(1em + 0.5rem);
}


@media  (max-width: 1500px) {
  .container{
    width:1200px;
  }
}

@media  (max-width: 1200px) {
  .container{
    width: 1100px;
  }
}

@media  (max-width: 1100px) {
  .container{
    width: 768px;
  }
}

@media  (max-width: 768px) {
  .container{
    width: 465px;
  }
}

@media  (max-width: 465px) {
  .container{
    width: 100%;
     }
}